<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site-PostgreSQL</title>
</head>
<body>
  <header class="header">
    <div class="header__container">
      <ul class="header__menu">
        <li><a href="/">Новости</a></li>
        <li><a href="/playbills">Афиши</a></li>
        <li><a href="/timetable">Расписание</a></li>
      </ul>
    </div>
  </header>
  <main class="content">
    <div class="content__container">
      <section class="content__playbills">
        <a href="/">
          <div class="playbill__block">
            <div class="playbill__img">
              <img src="" alt="">
            </div>
            <div class="playbill__title">
              <h2>Заголовок</h2>
            </div>
          </div>
        </a>
      </section>
    </div>
  </main>
</body>
</html>