.header {
  margin-top: 20px;
}
.header__exit {
  margin-left: 10px;
}
.header__exit a {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
.header__container {
  max-width: 1180px;
  margin: 0 auto;
}

.content__container {
  margin-top: 50px;
  max-width: 760px;
  margin: 0 auto;
}

.new__block {
  margin: 10px 0;
  width: 100%;
  height: 100%;
}
.new__img {
  margin: 30px 0;
}
.new__img img {
  max-height: 570px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.new__title {
  margin-top: 20px;
}
.new__title h2 {
  font-size: 36px;
  line-height: 1.23;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  color: #000000;
}
.new__description {
  margin-top: 10px;
}
.new__description span {
  font-size: 20px;
  line-height: 1.55;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}